*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf9f6;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.app {
  display: flex;
  flex-direction: column;
}

.navigation {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e008c;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #faf9f6;
  font-weight: bold;
}

/* Main page */
.content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  padding: 10px 20px;
}

.form {
}

.form-label {
  text-transform: uppercase;
  margin-right: 10px;
}

.form-input {
  height: 30px;
}

.video-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.video-item-container {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  cursor: pointer;
  max-width: 300px;
  max-height: 400px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.video-item-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.video-item-container:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.video-item-image {
  max-width: 300px;
}

.video-item-content {
  padding: 20px;
}

.video-item-header {
  text-transform: uppercase;
}

/* VIDEO DETAIL */
.video-detail-container {
  background-color: #faf9f6;
  margin: 30px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.video-container {
}

.video {
  width: 800px;
  height: 400px;
}

.video-detail-content {
  padding: 30px;
}

.video-detail-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.video-detail-text {
  margin-top: 10px;
}

.comments-list-container {
  padding: 30px;
}

.comment {
  margin-top: 20px;
  background-color: #ceb2dc;
}

.comment-content {
  padding: 10px;
}
