*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
  height: 100%;
}

.navigation {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

/* Main page */
.main-page {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  padding: 10px 20px;
}

.form {
}

.form-label {
  text-transform: uppercase;
  margin-right: 10px;
}

.form-input {
  height: 30px;
}

.video-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.video-item-container {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #faf9f6;
  cursor: pointer;
  max-width: 300px;
  max-height: 400px;
  margin: 20px;
  border-radius: 5px;
  transition: all 0.2s;
}

.video-item-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.video-item-container:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.video-item-image {
  max-width: 300px;
}

.video-item-content {
  padding: 20px;
}

.video-item-header {
  text-transform: uppercase;
}
