*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
}

.navigation {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

/* Overview */
.overview {
  padding: 30px;
  display: flex;
  justify-content: center;
}
